[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FastJM"]
	path = FastJM
	url = https://github.com/shanpengli/fastjm
[submodule "JMH"]
	path = JMH
	url = https://github.com/shanpengli/jmh
[submodule "PDXpower"]
	path = PDXpower
	url = https://github.com/shanpengli/pdxpower
